<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Critter</title>
        <link rel="stylesheet" type="text/css" href="page.css" />
    </head>
    <body>
        <h1>
            Critter
        </h1>
        <div class="content">
        <ul>
            {% for tweet in tweets %}
            <div class="clearfix">
                <li>
                    <div class='poster_name'>
                        <a href='/p/{{tweet.poster_id}}'>{{tweet.poster_name}}</a>
                    </div>
                    <div class='poster_text'>
                        {{tweet.text}}
                    </div>
                </li>
            </div>
            {% endfor %}
        </ul>
        {% if session['userid'] is undefined %}
            <form action="/login">
                <input type="submit" value="Login" />
            </form>
        {% else %}
            <form action="/add" method="POST">
                Enter tweet: <input type="text" id="text" name="text">
            </form>
            <form action="/logout" method="POST">
                <input type="submit" value="Logout" />
            </form>
        {% endif %}
        </div>
    </body>
</html>